
img{
    margin-left: 40%;
    margin-top: 100px;
}
button{
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    background: black;
    color: white;

}
button:hover{
    color: yellow;
}
#btn1{
    margin-left: 530px;
    margin-right: 90px;
}
@media (max-width:700px){
    img{
        margin-left: 20%;
    }
    #btn1{
        margin-left: 100px;
        margin-right: 20px;
    }
}